:root{
	font-size: 16px;
}


.container{
     display:flex;
      flex-wrap: wrap;

}


button{
	width:100%;
}

.container1{
    width:100%;
    height:auto;
    background-color: grey;

    
}

a{
	line-height: 5rem;
}

p{
	font-family: "Times New Roman", Times, serif;
    font-size:2rem;
    color: white;
}

.close{
	display:flex;
	flex-wrap: wrap;
	width:33%;
	height:100%;

}

.close p{
font-family: "Times New Roman", Times, serif;
    font-size:2rem;
    color: white;
    text-align: center;
}