
<div class="row"  style="text-align: center;">
              <div class="col-md-4">
                <div class="input-group btn-block" style="margin-left: 50%;">
                  <a class="btn btn-lg btn-primary btn-block" ng-href="#/">All Houses</a>
                </div>
              </div>
            </div>

              <div class= "row">
             <div class="col-md-4"  style="margin-left: 15%;">
           <a class="btn btn-lg btn-danger btn-block" ng-click="mytoggle3=!mytoggle3"> Sort</a>
            </div>
            </div>

<div class="box2 " ng-repeat="house in listAll.houses| orderBy :'name'|orderBy: !mytoggle3 ? 'name' :'-name' ">
  <a ng-href="#/view-house/{{ house.url.replace('https://anapioficeandfire.com/api/houses/' ,'') }}">
    <div>
      <p>{{$index +1}}</p>
      <h3> {{house.name}}  <span ng-show = "{{house.name.length < 1 }}" >"No Name Available"</span></h3>
      
    </div>
</div>