
<div class="row"  >
              <div class="col-md-4">
                <div class="input-group btn-block" style="margin-left :50%;">
                  <a class="btn btn-lg btn-primary btn-block" ng-href="#/">All Books</a>
                </div>
              </div>
  </div>
  <div class= "row">
<div class="col-md-4"  style="margin-left: 15%;">
      <a class="btn btn-lg btn-danger btn-block" ng-click="mytoggle=!mytoggle"> Sort</a>
    </div>
    </div>


<div class="box1 " ng-repeat="book in listAll.books | orderBy :'name' |  orderBy: !mytoggle? 'name':'-name' ">
  <a ng-href="#/view-book/{{ book.url.replace('https://anapioficeandfire.com/api/books/' ,'') }}">
    <div>
      <p>{{$index +1}}</p>
      <h3> {{book.name}}  <br>By <br> <span ng-repeat= 'author in book.authors  '>   " {{author}} "  </span></h3>
    </div>
  </a>
</div>
