:root{

    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.list1 {
   display: inline-block;
}

.m1 {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 1vw 2vw;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.menu_acess{
    visibility: hidden;
    background-color: #4CAF50;
    text-align: center;
}

.menu_acess button{

    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1rem;
    border-radius: 30px;
    border:5px solid green;
}




@media screen and (max-width:600px)
{

    .menu_acess{
    visibility: visible;
    background-color: #4CAF50;
    text-align: center;
}


.res{
    display:block;
    text-align: left;
}







}