<div class="row">
            <div class="col-lg-12">
                <div class="post-preview" ng-repeat="x in data | orderBy:'date'" >
                    <a href="#/">
                        <h6 class="post-title">
                            {{x.team1.name |uppercase}} vs 
                             {{x.team2.name|uppercase}}
                             
                        </h6>
                        <h3 class="post-subtitle" style="text-align:left;" ng-hide="true">
                             score {{x.score1|lowercase}} : {{x.score2|lowercase}} 
                        </h3>
                    </a>
                   
                    <p class="post-meta" ng-hide="true" >Played on {{x.date| date:'medium'}}</p>
                </div>
                <hr>
                
              
             
                <!-- Pager -->

                 <ul class="pager">
                    <li class="next">
                        <a ng-href="#/match">Match Details &rarr;</a>
                    </li>
                </ul>
                <ul class="pager">
                    <li class="next">
                        <a ng-href="#/stat">Teamwise stat &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>