<div class="row" >

	<div class="col-lg-12">
                <div class="post-preview" ng-repeat="x in data | orderBy:'date'"  >
                    <a href="#/">
                        <h4 class="post-title">
                            {{x.team1.name |uppercase}} vs 
                             {{x.team2.name|uppercase}}
                        </h4>
                        <h4 class="post-subtitle" style="text-align:left;">
                             score  {{x.team1.name}} {{x.score1|lowercase}} : {{x.score2|lowercase}}   {{x.team2.name}}
                           

                        </h4>
                     
                         <h4 class="post-subtitle" style="text-align:left;">
                           
                             {{x.team1.name}}  fouls: {{x.team1.fouls}}
                               {{x.team2.name}}  fouls: {{x.team2.fouls}}
                               

                        </h4>
                    
                        <h4 class="post-subtitle" style="text-align:left;">
                           
                            
                                 {{x.team1.name}}  Yellow card : {{x.team1.cards.Yellow}} Red card : {{x.team1.cards.red}}
                                  {{x.team2.name}}   Yellow card : {{x.team2.cards.Yellow}} Red card : {{x.team2.cards.red}}

                        </h4>
                    </a>
                   
                    <p class="post-meta" >Played on {{x.date| date:'medium'}}</p>
                </div>
                <hr>
                
              
             
                <!-- Pager -->

                 <ul class="pager">
                    <li class="next">
                        <a ng-href="#/">Home &rarr;</a>
                    </li>
                </ul>
               
            </div>

</div>